.jiyi-tab {
    font-size: 15px;
    color: #030303;
    margin: 4px 12px;
    width: 30px;
    padding: 0;
    white-space: nowrap;
    text-align: center;
    outline: none;
    background-color: #ffffff;
}

.jiyi-tabs-container {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jiyi-tabs-container .jiyi-tab:first-child {
    margin-left: 0;
}

.jiyi-tabs-container::-webkit-scrollbar {
    visibility: hidden;
}

.active {
    border-bottom: 2px solid #FFA600;
}