<vg-player (onPlayerReady)="onPlayerReady($event)">
  <div class="video-play-item-container">
    <div class="video-entity">
      <img [src]="videoInfo.thumbnailUri" *ngIf="!isPlaying">
      <i class="icon icon-arrow-ios-forward-ou" (click)="play()"></i>
    </div>
    <video 
      [hidden]="!isPlaying"
      [vgMedia]="media" 
      #media
      id="singleVideo" 
      preload="auto" 
      controls 
      style="height:224px;width:100%;"
      [ngStyle]="{'z-index': isPlaying ? 2 : 1}">
      <source [src]="videoInfo.videoUri" type="video/mp4">
    </video>
    <div class="video-detail">
      <span class="title">{{videoInfo.title}}</span>
      <span class="description">{{videoInfo.description}}</span>
      <div class="operations">
        <div (click)="starClick()">
            <i class="icon icon-heart-outline"></i>
            <span>{{stared ? '已点赞' : '点赞'}}</span>
        </div>
        <div (click)="likeClick()">
            <i class="icon icon-share-outline"></i>
            <span>{{liked ? '已收藏' : '收藏'}}</span>
        </div>
        <div (click)="showCommentsClick()">
            <i class="icon icon-message-square-outli1"></i>
            <span>评论</span>
        </div>
      </div>
    </div>
  </div>
</vg-player>
