.video-play-container {
    background-color: #030303;
    overflow-y: scroll;
}

// .video-play-container::-webkit-scrollbar {
//     visibility: hidden;
// }

.recommend {
    margin: 16px;
}

.recommend > span {
    color: #ffffff;
    font-size: 16px;
}

.recommend > div {
    margin-top: 8px;
}

.video-container {
    height: 100px;
}

.recommends-list {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(100%);
    overflow-y: scroll;
    padding-bottom: 8px;
}

.recommends-list .count {
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.60);
    padding: 12px;
}

