<vg-player>
  <div class="video-play-container">
    <app-video-play-item
      [videoInfo]="videoInfo" 
      (showComments)="showCommentsHandler()"
      (like)="likeHandler(videoInfo)"
      (star)="starHandler(videoInfo)"></app-video-play-item>
    <div class="user-info" *ngIf="userInfo && userInfo.userId != currentUserId">
      <app-userinfo-item 
        *ngIf="userInfo" 
        [userInfo]="userInfo" 
        [concerned]="concerned"
        (toggleConcern)="toggleConcernHandler($event, userInfo.userId)"></app-userinfo-item>
    </div>
    
    <div class="recommend">
      <span>相关推荐</span>
      <div *ngFor="let video of recommendVideoList">
        <app-video-thumbnail [videoInfo]="video" [titleColor]="'#ffffff'" [descColor]="'rgba(255,255,255,0.80)'"></app-video-thumbnail>
      </div>
    </div>
  </div>

  <div class="recommends-list" [@commentAnim]="animState">
    <div class="list-title">
      <div class="count">{{commentCount}}条评论</div>
      <i class="icon icon-icon_close_line" (click)="closeCommentList()"></i>
    </div>
    <div class="list-body">
      <app-comment-item *ngFor="let commentInfo of comments" [commentInfo]="commentInfo" (reply)="replyHandler(commentInfo)"></app-comment-item>
    </div>
  </div>
  <div class="input" *ngIf="animState == 'show' && currentInputType == 'comment'">
    <input type="text" placeholder="请输入你的评论" (keyup)="publishComment($event)" [(ngModel)]="myComment">
  </div>
  <div class="input" [hidden]="animState != 'show' || currentInputType != 'reply'">
    <input type="text" placeholder="请输入你的回复" (keyup)="publishReply($event)" [(ngModel)]="myReply" #replyInput>
  </div>
  <div class="back">
    <i class="icon icon-icon_arrow_left" (click)="goBack()"></i>
  </div>
</vg-player>