<div id="label-container">
  <div>
    <i class="icon icon-globe--outlinex"
    [routerLink]="[ '/home' ]"
    routerLinkActive="active"></i>
    <span>首页</span>
  </div>

  <div>
    <i class="icon icon-cube-outlinex"
    [routerLink]="[ '/community' ]"
    routerLinkActive="active"></i>
    <span>社区</span>
  </div>

  <div class="add-video">
    <i class="icon icon-Shapex" (click)="uploadVideo()"></i>
  </div>

  <div>
    <i class="icon icon-message-square-outli1"
    [routerLink]="[ '/notification' ]"
    routerLinkActive="active"></i>
    <span>通知</span>
  </div>

  <div>
    <i class="icon icon-radio-button-on-outl"
    [routerLink]="[ '/personal' ]"
    routerLinkActive="active"></i>
    <span>我的</span>
  </div>
</div>
