<div class="upload-container">
  <header>
    <span>取消</span>
    <div>选择视频</div>
    <span>发布</span>
  </header>
  <main>
    <img src="../../assets/icon/campus.jpeg">
    <div>
      <p>视频名称</p>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </div>
    <div>
      <p>副标题</p>
      <ion-input type="text" [(ngModel)]="subTitle"></ion-input>
    </div>
    <div>
      <p>视频描述</p>
      <ion-textarea type="text" [(ngModel)]="description"></ion-textarea>
    </div>
  </main>
</div>