<div class="main-container upload-container">
  <header>
    <span (click)="cancel()">取消</span>
    <span>选择视频</span>
    <span (click)="publish()">发布</span>
  </header>
  <main>
    <img *ngIf="thumbnailUri" [src]="thumbnailUri">
    <div>
      <p>视频名称</p>
      <input type="text" [(ngModel)]="title"/>
    </div>
    <div>
      <p>副标题</p>
      <input type="text" [(ngModel)]="subTitle"/>
    </div>
    <div>
      <p>视频描述</p>
      <textarea type="text" [(ngModel)]="description"></textarea>
    </div>
  </main>
</div>