.concern-list-container div {
    // margin-top: 8px;
    padding: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.concern-list-container {
    margin-top: 16px;
}

.concern-list-container div:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header div {
    text-align: center;
    font-size: 18px;
    color: #030303;
}