// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html {
    // margin-top: 16px;
}

.video-play-container,
.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
}

header {
    flex: 0 1 auto;
    width: calc(100% - 32px);
    margin: 0 16px;
}

main {
    flex: 1 0 auto;
    width: calc(100% - 32px);
    margin:  0 16px 8px;
    height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

footer {
    flex: 0 1 auto;
    width: 100%;
    padding: 8px 0;
    background: rgba(250,250,250,0.90);
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.25);
}

vg-player {
    width: 100%;
    height: 228px
}

app-login,
app-register,
app-personal-detail,
app-concern-list,
app-personal,
app-video-detail,
app-community,
app-home-content {
    height: 100%;
}

app-concern-list .user-description > div:first-child {
    color: #333333 !important;
}
app-concern-list .user-description > div:last-child {
    color: #999999 !important;
}