<div class="personal-container">
  <main *ngIf="personal">
    <div class="personal-basic">
      <img 
        class="avator-bg" 
        [src]="personal.avator == '../../../assets/icon/default-head.svg' ? '../../../assets/icon/default-bg.png' : avatorUrl">
      <div class="basic">
        <img [src]="avatorUrl" (click)="goUserInfo()">
        <span>{{personal.username}}</span>
      </div>
      <div class="operates">
        <div (click)="goWorks()">
          <i class="icon-works"></i>
          <span>作品</span>
        </div>
        <div (click)="goLikes()">
          <i class="icon-collection"></i>
          <span>收藏</span>
        </div>
        <div (click)="goConcerns()">
          <i class="icon-concern"></i>
          <span>关注</span>
        </div>
      </div>
    </div>
    
    <div class="func-option">
      <div>
        <span>通知开关</span>
        <i class="icon icon-arrow-ios-forward-ou"></i>
      </div>
      <div>
        <span>功能开关</span>
        <i class="icon icon-arrow-ios-forward-ou"></i>
      </div>
      <div>
        <span>意见反馈</span>
        <i class="icon icon-arrow-ios-forward-ou"></i>
      </div>
      <div>
        <span (click)="logout()">退出登录</span>
      </div>
    </div>

  </main>
  <footer>
    <app-label-bar></app-label-bar>
  </footer>
</div>